html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

.containerProductPage {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	max-width: 100%;
}

.horizontal-top {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 50%;
	padding: 15px;
}

.image-carousel {
	width: 50%;
	height: 100%;
	object-fit: contain;
	padding: 0px 100px;
}

@media screen and (max-width: 1126px){
	.horizontal-top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 15px;
	}
	.image-carousel {
		width: 100%;
		height: 55%;
		object-fit: contain;
		padding: 0px;
	}
	.containerProductPage {
		height: 100%;
	}
}

#carouselExampleControls {
	height: 100%;
	width: 100%;
}

.carousel-inner {
	height: 100%;
	width: 100%;
}

.carousel-item.active {
	height: 100%;
}

.w-100 {
	height: 100%;
	object-fit: cover;
}

.addToCart {
	display: flex;
	flex-direction: row;
	justify-content: left;
	width: 50%;
	height: 100%;
	padding: 30px;
	font-family: "Roboto"
}

@media screen and (max-width: 1126px){
	.carousel-control-next-icon, .carousel-control-prev-icon{
		width: 80px;
		height: 80px;
	}
	.addToCart {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 30px;
		font-family: "Roboto";
	}
	.cartContent {
		position: relative;
	}
}

.price {
	font-size: 22px;
	margin: 12px;
}

.input-group.mb-3 {
	width: 80%;
}

.input-group-prepend {
	width: 20%;
}

.input-group-text {
	background-color: transparent;
	width: 100%;
	border: 0px;
	border-radius: 0;
}

.btn.btn-dark {
	width: 80%;
	border-radius: 0;
	margin: 12px;
	font-family: 'Roboto', serif;
	font-weight: 100;
}


.product-description {
	margin: 12px;
}

@media screen and (max-width: 1126px) {
	.price {
		font-size: 42px;
		margin: 12px;
	}
	.product-description {
		font-size: 36px;
	}

	.sizecolorSelector {
		display: flex;
		flex-direction: row;
	}
	.input-group.mb-3 {
		width: 80%;
	}

	.input-group-prepend {
		display: none!important;
	}
	.input-group>.custom-select:not(:first-child) {
		height: 100px;
		font-size: 42px;
		margin: 10px;
	}
	.btn.btn-dark {
	width: 100%;
	height: 100px;
	border-radius: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: 42px;
}
}

.horizontal-bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 15px;
}

.moreProducts {
	width: 100%;
	height: 100%;
}

.sameCollection {
	width: 100%;
	height: 100%;
}

























