html, body {
	margin: 0px;
	height: 100%;
	width: 100%;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
	background-color: #fff!important;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.nav-link {
	color: rgba(183, 110, 121)!important;
}


.background-div {
	display: flex;
	flex-direction: row;
	height: 70px;
	width: 100%;
}

.logonav {
	width: 50px;
	height: 50px;
}

@media screen and (max-width: 1126px) {
	.background-div {
		display: flex;
		flex-direction: row;
		height: 300px;
		width: 100%;
	}
	.navbar.navbar-expand-lg.navbar-light.bg-light {
		background-color: #fff!important;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	.logonav {
		width: 150px;
		height: 150px;
	}
}

@media screen and (max-width: 1126px) {
	.background-div {
		display: flex;
		flex-direction: row;
		height: 300px;
		width: 100%;
	}
	.navbar.navbar-expand-lg.navbar-light.bg-light {
		background-color: #fff!important;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	.logonav {
		width: 150px;
		height: 150px;
	}
}

.navbar-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.navbar-nav.mr-auto {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right: 0px!important;
}

.nav-item {
	margin: 20px 60px;
	font-size: 22px;
}

.nav-item.active {
	margin: 20px 60px;
}

@media screen and (max-width: 1126px) {
	.nav-item {
		margin: 20px 60px;
		font-size: 42px;
	}

	.nav-item.active {
		margin: 20px 60px;
	}
}


.slider-background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

@media screen and (max-width: 1126px) {
	.slider-background {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 700px;
		width: 100%;
		position: relative;
		overflow: hidden;
	}
}

.slider-background-pic {
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	transition: 1s ease-in-out;
}


@media screen and (max-width: 1279px){
	.slider-background-pic {
		content: url(./02Bonaire-header.jpg);
	}
}

.slider-caption {
	position: absolute;
 	text-align: center;
 	width: 100%;
 	color: #fff;
 	font-family: "Futura";
 	font-size: 64px;
 	letter-spacing: 8px;
 	margin: auto;
 }

 .btn.btn-primary {
	position: absolute;
 	text-align: center;
 	color: #fff;
 	font-family: "Futura";
 	font-size: 18px;
 	letter-spacing: 2px;
 	border: 2px solid white;
 	width: 250px;
 	background-color: rgba(183, 110, 121, 0.0);
	top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1126px) {
	 .btn.btn-primary {
		position: absolute;
	 	text-align: center;
	 	color: #fff;
	 	font-family: "Roboto";
	 	font-weight: 100;
	 	font-size: 36px;
	 	letter-spacing: 2px;
	 	border: 2px solid white;
	 	width: 450px;
	 	background-color: rgba(183, 110, 121, 0.0);
		top: 75%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
}


 .btn.btn-primary:hover {
 	background-color: #fff;
 	color: rgba(183, 110, 121, 1);
 	border: 0px;
 }

.content {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.flexShop {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
	width: 70%;
	padding-bottom: 80px;
}

@media screen and (max-width: 1126px) {
	.flexShop{
		width: 100%;
	}
}

.sectionTitle {
	width: 100%;
	text-align: center;
	margin: 20px 0px;
	color: rgb(39, 48, 78);
	font-size: x-large;
	font-family: "Futura"
}

@media screen and (max-width: 1126px) {
	.sectionTitle {
		margin-top: 40px;
		font-size: 56px;
	}
}

.card00 {
	margin: 20px;
	border: 0px;
	width: 200px;
	height: 240px;
}


.card-img-top00 {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

@media screen and (max-width: 1126px){
	.card00 {
		width: 45%;
		height: 700px;
		margin: 40px 15px;
	}
} 

@media screen and (max-width: 1126px){
	.card-img-top00 {
		width: 100%;
		height: 530px;
		object-fit: cover;
	}
}

.card-body {
	padding: 0px;
}

.card-text {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 1px;
}

strong {
	color: black;
}

@media screen and (max-width: 1126px){
	.card-text {
		text-align: left;
		color: #A3A29F;
		font-family: 'Roboto light', sans-serif;
		font-size: 28pt;
		margin: 15px;
		font-weight: 100;
	}	

}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
    position: relative;
    color: white;
    padding: 0px;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	opacity: 0.0;
	position: absolute;
    font-family: "Roboto";
    transition: 0.2s ease-in-out;
}

/*.centered:hover {
	opacity: 1;
	background-color: rgba(0,0,0,0.4);
	cursor: pointer;
	font-size: 38px;

}*/

.shopAll-slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 500px;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-image: url(./01Mallorca-parallax.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.shopAll-background-pic {
	height: 500px;
	max-width: 100%;
	object-fit: cover;
	transition: 1s ease-in-out;
}


@media screen and (max-width: 1279px){
	.shopAll-background-pic {
		width: 100%
		height: 300px;
		background-image: url(./01Mallorca-parallax.jpg);
		background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	}
}

 .btn.btn-primary-1 {
	position: absolute;
 	text-align: center;
 	color: #fff;
 	font-family: "Roboto";
 	font-size: 18px;
 	letter-spacing: 2px;
 	border: 2px solid white;
 	border-color: #fff;
 	width: 250px;
 	background-color: rgba(39, 48, 78, 0.0);
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn.btn-primary-1:hover {
	background-color: #fff;
	color: rgba(39, 48, 78, 1);
	border: 0px;
}

.featuredProduct {
	margin: 20px;
	border: 0px;
	width: 400px;
	height: 600px;
}

@media screen and (max-width: 1126px){
	.featuredProduct {
		width: 70%;
		height: 900px;
	}
}

.featured-img-top {
	width: 400px;
	height: 500px;
	object-fit: cover;
	margin: 20px;
}

@media screen and (max-width: 1126px){
	.featured-img-top {
		width: 100%;
		height: 700px;
	}
}

.centered2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 100%;
	opacity: 0.0;
	position: absolute;
    font-family: "Roboto";
    font-size: 24px;
    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 1126px){
	.centered2 {
		width: 100%;
		height: 700px;
	}
}

/*.centered2:hover {
	opacity: 1;
	background-color: rgba(0,0,0,0.4);
	cursor: pointer;
}*/

.quickView {
	color: #fff;
}

.quickView:hover {
	color: #fff;
}

.footer-background {
	height: 400px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

@media screen and (max-width: 1126px) {
	.footer-background {
		height: 100%;
		width: 100%;
		position: relative;
		overflow: scroll;
	}
}

.footer-background-pic {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	max-width: 100%;
	background-color: #fff;
	border-top: 1px solid #aaa;
	object-fit: cover;
}

@media screen and (max-width: 1126px) {
	.footer-background-pic {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

	}
}

.info {
	font-family: "Roboto";
	width: 33%;
	margin: 30px;
}

@media screen and (max-width: 1126px) {
	.info {
		font-family: "Roboto";
		font-size: 12px;
		width: 100%;
		margin: 10px;
		text-align: center;
	}
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 8px;
    margin: 4px 0 16px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container-form {
    margin: 30px;
    border: 0px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

h1 {
	font-family: "Roboto";
	font-size: 24px;
}

@media screen and (max-width: 1126px){
	h1 {
		font-family: "Roboto";
		font-size: 16px;
		text-align: center;
	}
}

.form-text {
	font-family: "Roboto";
	font-size: 18px;

}

@media screen and (max-width: 1126px){
	.form-text {
		font-family:"Roboto";
		font-size: 12px;
		text-align: center;
	}
}

label {
	margin: 0px;
}

@media screen and (max-width: 1126px) {
	.terms-conditions {
		font-size: 12px;
		text-align: center;
	}
}





